.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 60px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.buttonHeader {
  background: #f4e041;
  border-radius: 80px;
  border: none;
  width: 100px;

  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
}
