section {
  height: 100%;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.text-wrapper {
  max-width: 380px;
  @media screen and (max-width: 360px) {
    max-width: 328px;
  }
}

.post__form {
  @media screen and (max-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 360px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.get__item {
  flex-basis: calc((100% - 178px) / 3);
  gap: 29px;

  @media screen and (max-width: 1024px) {
    flex-basis: calc((100% - 178px) / 3);
  }

  @media (max-width: 768px) {
    flex-basis: calc((100% - 112px) / 2);
  }

  @media screen and (max-width: 360px) {
    flex-basis: 100%;
  }
}

.header-wrapper {
  padding: 13px 0;
  @media screen and (max-width: 1200px) {
    padding: 13px 60px;
  }

  @media screen and (max-width: 768px) {
    padding: 13px 32px;
  }

  @media screen and (max-width: 360px) {
    padding: 13px 16px;
  }
}

.get-block {
  padding: 164px 16px;

  @media screen and (max-width: 360px) {
    padding: 89px 0;
  }
}

.get__list {
  gap: 29px;
  @media screen and (max-width: 768px) {
    gap: 16px;
  }

  @media screen and (max-width: 360px) {
    gap: 20px;
  }
}

.register-user__form {
  @media screen and (max-width: 360px) {
    max-width: 328px;
  }

  @media screen and (min-width: 361px) {
    max-width: 380px;
  }
}
