section {
  height: 100%;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.text-wrapper {
  max-width: 380px;
  @media screen and (max-width: 360px) {
    max-width: 328px;
  }
}

.post__form {
  @media screen and (max-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 360px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.get__item {
  flex-basis: calc((100% - 178px) / 3);
  gap: 29px;

  @media screen and (max-width: 1024px) {
    flex-basis: calc((100% - 178px) / 3);
  }

  @media (max-width: 768px) {
    flex-basis: calc((100% - 112px) / 2);
  }

  @media screen and (max-width: 360px) {
    flex-basis: 100%;
  }
}

.header-wrapper {
  padding: 13px 0;
  @media screen and (max-width: 1200px) {
    padding: 13px 60px;
  }

  @media screen and (max-width: 768px) {
    padding: 13px 32px;
  }

  @media screen and (max-width: 360px) {
    padding: 13px 16px;
  }
}

.get-block {
  padding: 164px 16px;

  @media screen and (max-width: 360px) {
    padding: 89px 0;
  }
}

.get__list {
  gap: 29px;
  @media screen and (max-width: 768px) {
    gap: 16px;
  }

  @media screen and (max-width: 360px) {
    gap: 20px;
  }
}

.register-user__form {
  @media screen and (max-width: 360px) {
    max-width: 328px;
  }

  @media screen and (min-width: 361px) {
    max-width: 380px;
  }
}

.input {
  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc((0.5rem) * 0.75) calc(0.5rem * 0.5);
    margin: calc((0.5rem) * 0.75 + 3px) calc((0.5rem) * 0.5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: #f8f8f8;
    transition: transform 120ms ease-in;

    line-height: 14px;
    color: #7e7e7e;
  }
  &__field {
    background-color: inherit;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    padding: 14px 16px;
    box-sizing: border-box;
    width: 100%;

    display: block;

    // padding: calc((0.5rem) * 1.5) 0.5rem;
    color: currentColor;
    background: transparent;

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
      }
    }
  }
}
